body{
    background-color: rgb(50, 50, 50);
    color: rgba(255, 0, 0, 0.565);
    font-size: 40px;
    
}
#genlb{
    text-align: center;
}
#gen1{
    border: 1px solid red;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
#gen2{
    border: 1px solid red;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#gen3{
    border: 1px solid red;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#gen4{
    border: 1px solid red;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#gen5{
    border: 1px solid red;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#gen6{
    border: 1px solid red;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#gen7{
    border: 1px solid red;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#gen8{
    border: 1px solid red;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#gen9{
    border: 1px solid red;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#genun{
    border: 1px solid red;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#genhisui{
    border: 1px solid red;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
th{
    
    width: 25%;
    float: center;
}
#navbar{
    width: 100%;
}
#Searchbar{
    width: 90%;
    font-size: 40px;
}
#dexType{
    font-size: 20px;
}
#Gen{
    font-size: 20px;
}
#Type{
    font-size: 20px;
}
.pkm{
    width: 33%;
    text-align: center;
    
}
